// Styling of content in the editor


// Tools in the dropbown

.display-table
  display: table

.display-table-cell
  display: table-cell

.display-table-row
  display: table-row

.display-table-caption
  display: table-caption

.display-table-column
  display: table-column

.display-table-column-group
  display: table-column-group

.display-table-footer-group
  display: table-footer-group

.display-table-header-group
  display: table-header-group

.display-table-row-group
  display: table-row-group

.float-left
  float: left

.float-right
  float: right

.clearfix:before,
.clearfix:after 
  content: " "
  display: table

.clearfix:after 
  clear: both

.clearfix 
  *zoom: 1
